
.appimage {
  border-top-left-radius: 31px;
  border-top-right-radius: 31px; 
  border-bottom-left-radius: 31px; 
  border-bottom-right-radius: 31px;
  border:1px solid #859989;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
}
